<nav class="navbar bg-secondary mb-2">
  <div class="container-fluid">
    <h2 class="navbar-brand text-white">Jean Neige, I know something</h2>
    <form class="d-flex" role="create">
      <button class="btn btn-primary"><%= link_to "Write article", new_article_path, class: "btn text-white" %></button>
    </form>
  </div>
</nav>
